<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!contacts) { %>
                <div class="alert alert-danger fw-bold" role="alert">Data contact tidak ada <br><a href="/contact" class="alert-link fw-normal">Kembali ke daftar contact</a>
                </div>
            <% }else{ %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= contacts.nama %> </h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= contacts.nohp %> </h6>
                        <p class="card-text"><%= contacts.email %> </p>
                        <a href="/contact/edit/<%= contacts.nama %> " class="btn btn-info badge">ubah</a>
                        <!-- <a href="/contact/delete/<%= contacts.nama %> " class="btn btn-danger badge" onclick="return confirm('Yakin?');">hapus</a> -->
                        <form method="post" action="/contact?_method=DELETE" class="d-inline">
                            <input type="hidden" name="nama" value="<%= contacts.nama %>">
                            <button type="submit" class="btn btn-danger badge" onclick="return confirm('Yakin?')">hapus</button>
                        </form>
                        <a href="/contact" class="card-link d-block mt-3">Kembali ke daftar contact</a>
                    </div>
            <% } %> 
            </div>
        </div>
    </div>
</div>